@import '../../utilities/mixins.scss';

.todolist {
    width: 50%;
    height: 55vh;
    background-color: rgb(238, 231, 231);
    box-shadow: .5px 1px 2px rgba(0, 0, 0, .6);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    @include mediaquery(700px) {
      width: 80%;
    }

    @include mediaquery(500px) {
      width: 90%;
    }

    @include mediaquery(400px) {
      width: 95%;
    }
}